body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.section-one {
    background-color: #1f2937;
}

h1,
h4 {
    color: #f9faf8;   
}

h1 {
    font-size: 48px;
    font-weight: extra-bold;
}

h4 {
    font-size: 24px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}

.secondary {
 color: #e5e7eb;
 font-size: 18px;
}

h3,
.info {
    color: #1f2937;
}

h3,
.quote {
    font-size: 36px;
}

.quote-box {
    background-color: #e5e7eb;
}

.action-box {
    background-color: #3882f6;
    color: #e5e7eb;
}

button {
    background-color: #3882f6;
}

footer {
    background-color: #1f2937;
}