body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
}

.section-one {
    background-color: #1f2937;
    display: flex;
    width: 100%;
    padding-bottom: 100px;
}

.header {
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.main {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0px 150px;
    gap: 8px;
}

.placeholder {
    margin-right: 150px;
}

h1,
.secondary {
    margin: 0;
    width: 450px;
    word-wrap: normal;
}

h1,
h4 {
    color: #f9faf8;   
}

h1 {
    font-size: 48px;
    font-weight: extra-bold;
}

h4 {
    font-size: 24px;
    padding-left: 150px;
}

ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 15px;
    justify-content: flex-end;
    padding-right: 150px;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}

.secondary {
 color: #e5e7eb;
 font-size: 18px;
}

h3,
.info {
    color: #1f2937;
}

h3,
.quote {
    font-size: 36px;
}

.quote-box {
    background-color: #e5e7eb;
}

.action-box {
    background-color: #3882f6;
    color: #e5e7eb;
}

button {
    background-color: #3882f6;
    padding: 2px 3px;
}

footer {
    background-color: #1f2937;
}